/* To do list
 - Potentially finish button stuff (starting with block level buttons)
 -

*/

html {
  font-family: sans-serif;
}

h1, .h1 {
  font-weight: 600;
  font-size: 36;
}

h2, .h2 {
  font-weight: 600;
  font-size: 30;
}

h3, .h3 {
  font-weight: 600;
  font-size: 24;
}

h4, .h4 {
  font-weight: 600;
  font-size: 18;
}

h5, .h5 {
  font-weight: 600;
  font-size: 14;
}

h6, .h6 {
  font-weight: 600;
  font-size: 12;
}

small, .small {
  color: rgb(150, 150, 150);
  font-size: 85%;
  font-weight: 500;
}

p, .p {
  font-size: 14px;
  line-height: 1.428;
  margin-bottom: 10px;
}

body, .body {
  font-size: 14px;
  line-height: 1.428;
  padding: 20px;
}

xmp {
  background-color: rgb(240, 240, 240);
  border: 1px solid #ccc;
}

.lead {
  font-size: 21px;
}

address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.428;
  margin-bottom: 20px;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5;
  border-left: 5px solid #eee;
}

blockquote footer {
  color: rgb(98, 98, 98);
}

blockquote footer::before {
  content: '\2014 \00A0';
}

.blockquote-reverse {
  text-align: right;
  border-right: 5px solid #eee;
}

.btn {
  border: 1px solid transparent;
  border-radius: 5px;
  border-color: #ccc;
  margin: 15px;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.btn-default {
  color: #000;
  background-color: #fff;
}

.btn:hover {
  background-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: rgb(51, 122, 183);
  border-color: rgb(41, 110, 168);
}

.btn-primary:hover {
  background-color: rgb(41, 110, 168);
  border-color: rgb(37, 97, 148);
}

.btn-primary:active {
  background-color: rgb(37, 97, 148);
  border-color: rgb(37, 88, 131);
}

.btn-success {
  color: #fff;
  background-color: rgb(92, 184, 92);
  border-color: rgb(77, 162, 77);
}

.btn-success:hover {
  background-color: rgb(77, 162, 77);
  border-color: rgb(72, 148, 72);
}

.btn-success:active {
  background-color: rgb(72, 148, 72);
  border-color: rgb(69, 138, 69);
}

.btn-info {
  color: #fff;
  background-color: rgb(91, 192, 222);
  border-color: rgb(82, 175, 203);
}

.btn-info:hover {
  background-color: rgb(82, 175, 203);
  border-color: rgb(72, 159, 185);
}

.btn-info:active {
  background-color: rgb(72, 159, 185);
  border-color: rgb(63, 143, 167);
}

.btn-warning {
  color: #fff;
  background-color: rgb(240, 173, 78);
  border-color: rgb(223, 160, 71);
}

.btn-warning:hover {
  background-color: rgb(223, 160, 71);
  border-color: rgb(205, 147, 65);
}

.btn-warning:active {
  background-color: rgb(205, 147, 65);
  border-color: rgb(189, 135, 58);
}

.btn-danger {
  color: #fff;
  background-color: rgb(217, 83, 79);
  border-color: rgb(199, 75, 72);
}

.btn-danger:hover {
  background-color: rgb(199, 75, 72);
  border-color: rgb(181, 67, 64);
}

.btn-danger:active {
  background-color: rgb(181, 67, 64);
  border-color: rgb(166, 61, 58);
}

.btn-link {
  color: blue;
  background-color: #fff;
  border: none;
}

.btn-link:hover {
  background-color: #ccc;
  border-color: rgb(117, 116, 117);
}

.btn-lg {
  font-size: 18px;
  padding: 10px 16px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-sm {
  font-size: 12px;
  padding: 5px 10px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs {
  font-size: 12px;
  padding: 1px 5px;
  line-height: 1.5;
  border-radius: 3px;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-default {
  background-color: grey;
}

.label-primary {
  background-color: rgb(51, 122, 183);
}

.label-success {
  background-color: rgb(92, 184, 92);
}

.label-info {
  background-color: rgb(91, 192, 222);
}

.label-warning {
  background-color: rgb(240, 173, 78);
}

.label-danger {
  background-color: rgb(217, 83, 79);
}

.badge {
  background-color: grey;
  display: inline-block;
  padding: 3px 7px;
  margin-left: 3px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}

.btn-success .badge {
  color: rgb(92, 184, 92);
  background-color: #fff;
}

.btn-info .badge {
  color: rgb(91, 192, 222);
  background-color: #fff;
}

.btn-warning .badge {
  color: rgb(240, 173, 78);
  background-color: #fff;
}

.btn-danger .badge {
  color: rgb(217, 83, 79);
  background-color: #fff;
}

:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.jumbotron {
  background-color: rgb(244, 241, 241);
  border-radius: 10px;
  margin: 20px;
  padding: 60px;
}

.jumbotron h1, .jumbotron .h1 {
  font-size: 60px;
}

.jumbotron p {
  font-size: 20px;
  font-weight: 400;
}

.page-header {
  border-bottom: 1px solid rgb(233, 233, 233);
  margin-top: 50px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumbnail {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 2px;
  margin: 10px;
  float: left;
}

.btn-toolbar {
  margin-left: -5px
  float: left;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group .btn {
  border-radius: 0px;
  margin-left: -5px;
  float:left;
  margin: 0px;
  border-right: 0px;
  padding: 10px 15px;
}

.btn-group button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-group button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #ddd;
}

.btn-group button:middle-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  text-decoration: underline;
  color: #2f6f9f;
}

ol {
  margin-top: 0;
}

ul {
  display: block;
  list-style-type: disc;
}

.breadcrumb {
  padding: 8px 15px;
  list-style: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.pagination li {
  float:left;
  display: inline-block;
  border: 1px solid #ddd;
  border-right: 0px;
}

.pagination a {
  color: #337ab7;
  float: left;
  padding: 6px 12px;
  text-decoration: none;
}

.pagination a:hover {
  background-color: #ccc;
  color: #2f6f9f;
}

.pagination li:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination li:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #ddd;

}

.pagination::after {
  content: "";
  clear: both;
  display: table;
}

.alert {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert .alert-link {
  font-weight: 700;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger .alert-link {
  color: #843534;
}

.list-group-item {
  list-style: none;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #e3e3e3;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list-group-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.panel {
  padding: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.well {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.example {
  border: 1px solid #e3e3e3;
  margin-bottom: 20px;
  padding: 10px;
}

.example::before {
  content: "Example Implementation \A";
  display: block;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 20px;
}

.code::before {
  content: "Example Code";
  clear: both;
  display: table;
  font-weight: 600;
  margin-top: 20px;
}
