header {
  width: 100%;
  background-color: #84c5e4;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out ;
  z-index: 9999;
  top: 0;
  position: fixed;
}

.shrink h1 {
    font-size: 25px;
}

.main-header {
  padding-left: 10px;
  color: white;
}

.name {
  font-size: 40px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out ;
}

a[name] {
  display:block;
  position:relative;
  top:-160px;
  visibility:hidden;
}

.container {
  background-color: white;
  border-radius: 4px;
  padding: 15px;
  border: 1px solid #e3e3e3;
  margin-bottom: 10px;
}

.header {
  text-decoration: none;
  margin-top: 0;
  border-bottom: 1px solid lightgray;
}

.header a {
  color: inherit;
}
.header a:hover {
  color: inherit;
  text-decoration: none;
}
body {
  margin: 0;
}

.wrap {
  width: 70%;
  margin: 150px auto;
}

.main-content {
  position:relative;
  width: 90%;
  float: right;
}

#sidebar-wrapper {
  position: fixed;
  left: 250px;
  margin-left: -250px;
}

.sidebar-nav {
  width: 150px;
}

.sidebar-nav li {
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
}

/* Example and code example formatting */

.example {
  margin-bottom: 20px;
}

.example::before {
  content: 'Example Implementation \A';
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
  color: #a4a4a4;
}

xmp {
  overflow: auto;
  background-color: rgb(240, 240, 240);
  border: 1px solid #ccc;
  padding-left: 3%;
}

.code::before {
  clear: both;
  content: 'Example Code';
  display: table;
  font-weight: 600;
  margin-top: 20px;
  color: #a4a4a4;
}
